tickTime=2000
dataDir={{zk_data_dir}}
clientPort=2181
admin.serverPort={{zk_admin_server_port}}
initLimit=5
syncLimit=2

{% for host in groups['zookeepers'] %}
server.{{ hostvars[host].id }}={{ hostvars[host]['host_ip'] }}:2888:3888
{% endfor %}